---

---

<div class="flex justify-between gap-16 navbar">
  <div class="social flex items-center w-1/4 pl-20">
    <div class="flex gap-5 text-[25px]">
      <a href="https://www.facebook.com/SERVHUERTA?mibextid=LQQJ4d" target="_blank">
        <i class="fa-brands fa-facebook hover:scale-125 transition-all"></i>
      </a>
      <a href="https://wa.me/528110822500" target="_blank">
        <i class="fa-brands fa-whatsapp hover:scale-125 transition-all"></i>
      </a>
      
    </div>
  </div>
  <div class="flex justify-end items-center">
    <ul class="uppercase flex gap-12">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#servicios">Servicios</a></li>
    </ul>
  </div>
  <div class="flex justify-center">
    <div class="rounded-full p-1 logo z-10">
      <a href="#inicio">
        <img
          src="logo.png"
          class="w-[150px] rounded-full hover:scale-105 transition-all"
          alt=""
        />
      </a>
    </div>
  </div>
  <div class="flex justify-start items-center">
    <ul class="uppercase flex gap-12">
      <li><a href="#galeria">Galería</a></li>
      <li><a href="#contacto">Ubicación</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </div>
  <div class="social flex justify-end items-center w-1/4 pr-20 gap-2">
    <a href="tel:8110822500" class="font-bold">
    <div class="mr-2 border-2 p-2">
      <i class="fa-solid fa-phone text-[30px] text-slate-500"></i>
    </div>
    <div class="flex flex-col">
      <span class="mr-2">Contáctenos</span>
      <a href="tel:8110822500" class="font-bold">8110822500 </a>
    </div>
  </a>
  </div>
</div>

<style>
  .navbar {
    box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.05);
  }
  .navbar a {
    font-weight: 500;
    color: #686868;
  }
  .navbar a:hover {
    font-weight: 500;
    color: #987f53;
  }
  .social i:hover{
    color: #987f53;
  }
  .logo {
    margin-bottom: -35px;
    background: white;
    box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.1);
  }
</style>
