<div class="w-full h-full bg-black/50 z-50 fixed top-0">
  <div class="w-[60%] h-full p-4 bg-white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestiae
    ab enim quam expedita officiis libero dolores minima voluptate maxime fugiat
    nulla, ducimus voluptates soluta assumenda perferendis adipisci magni
    mollitia!
  </div>
</div>
