<section id="nosotros" class="">
  <div class="px-[10%] py-[10%]">
    <div class="flex flex-col md:flex-row  gap-16 items-center">
      <div class="">
        <img src="nosotros2.png" alt="sobre nosotros" />
      </div>
      <div class="md:w-[60%] w-[100%]">
        <h3 class="text-2xl md:text-4xl">Nuestra Empresa</h3>
        <p class="mt-4">
          Sus inicios en el <b>año de 2000,</b> Ubicados en el centro de la ciudad
          de
          <b>Monterrey,</b> con alcance a toda la <b>republica mexicana</b> y al
          extranjero a traves transportes terrestres y aereos bajo la dirección de
          la Familia Huerta. Somos una empresa con experiencia en <b
            >servicios funerarios</b
          > que entiende perfectamente el sentir de ese momento tan difícil, apoyando
          a quienes se enfrentan a una pérdida de la manera más cálida y humana.
        </p>
        <p class="mt-4">
          En Funerales Huerta, entendemos el duro momento que representa la
          pérdida de un ser querido, por eso desde nuestros inicios nos hemos
          esforzado por mantener la <b>calidez humana y respeto.</b>
        </p>
        <p class="mt-4">
          "Nos encargamos de brindar el trato mas humano a sus seres queridos,
          para que sea una despedida digna acorde a la calidad de personas que
          nos dejan en este mundo para continuar su camino en la otra vida"
        </p>
        <h5 class="my-4">¿Que nos diferencia de los demás?</h5>
        <div class="grid grid-cols-2 md:flex mt-8 gap-6">
          <div class="flex flex-col items-center bg-slate-100 px-6 py-6 card-icon md:w-[190px]">
            <div class="px-2 py-2 w-[60px] text-center icon">
              <i
                class="fa-solid fa-hand-holding-heart text-[30px]"
              ></i>
            </div>
            <div class="text-center mt-2">
              <span>Calidez humana <br /> y respeto</span>
            </div>
          </div>
          <div class="flex flex-col items-center bg-slate-100 px-6 py-6 card-icon md:w-[190px]">
            <div class="px-2 py-2 w-[60px] text-center icon">
              <i class="fa-solid fa-plane text-[30px]"></i>
            </div>
            <div class="text-center mt-2">
              <span>Transporte <br /> para la familia</span>
            </div>
          </div>
          <div class="flex flex-col items-center bg-slate-100 px-6 py-6 card-icon md:w-[190px]">
            <div class="px-2 py-2 w-[60px] text-center icon">
              <i class="fa-solid fa-book-bible text-[30px]"></i>
            </div>
            <div class="text-center mt-2">
              <span>Brindamos <br /> despedida digna</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
    .card-icon{
        transition: 0.5s all;
    }
    .card-icon i{
        color: #8f8f8f;
        transition: 0.2s all;
    }
    .card-icon:hover i{
        color: #997F53;
    }
    .card-icon:hover{
        box-shadow: 10px 10px 86px 0px rgba(0,0,0,0.19);
-webkit-box-shadow: 10px 10px 86px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 10px 10px 86px 0px rgba(0,0,0,0.19);
    }
    .card-icon .icon{
        transition: 0.2s all;
        border: 2px solid #8f8f8f;
    }
    
    .card-icon:hover .icon{
        transform: scale(1.1);
        border-color: #997F53;
    }
</style>