<!-- <div class="text-center mt-32 relative flex justify-center">
    <div class="bg-white z-10 px-4">
        <h3 class="text-[#997F53]">NUESTROS SERVICIOS</h3>
    </div>
    <div class="w-[35vw] h-[2px] bg-[#997F53] absolute top-7"></div>
</div> -->
<section id="servicios">
    <div class="mt-20">
        <div class="">
          <div class="grid grid-cols-3 gap-16  px-[10%] py-[5%]">
            <div class="p-4 border-4 border-[#997F53]">
              <img src="servicio1.png" class="w-[500px] h-[500px]" alt="atencion inmediata">
            </div>
      
            <div class="flex flex-col justify-center col-span-2 ml-16">
              <h4>ATENCIÓN INMEDIATA</h4>
              <ul class="list mt-4">
                <li>Asesoría y atención las 24 Hrs.</li>
      
                <li>
                  Servicio de recolección del cuerpo (Hospital, Asilos, Centro
                  Geriátrico, Domicilio particular, Etc.)
                </li>
      
                <li>
                  Servicio de Embalsamamiento, aseo estético, preparación y
                  conservación de cadáver.
                </li>
      
                <li>Ataúdes metálico y de madera.</li>
      
                <li>Urnas de mármol y de madera.</li>
      
                <li>Tramites de permisos y acta de defunción.</li>
      
                <li>Confortables capillas con servicios integrados de velación.</li>
      
                <li>Equipo de Velación para servicio en domicilio particular.</li>
      
                <li>Servicio de carroza al panteón.</li>
      
                <li>Servicio de Cremación.</li>
      
                <li>Traslados Nacionales e Internacionales</li>
              </ul>
              <div class="mt-4">
                <a href="#contacto">
                  <button type="button" class="btn">Me interesa</button>
                </a>
              </div>
            </div>
          </div>
      
          <div
            class="grid grid-cols-3 gap-16 mt-32 bg-[url('/marmol.png')] bg-cover px-[10%] py-[5%]"
          >
            <div class="flex flex-col justify-center col-span-2">
              <h4 class="uppercase">Cremación Directa</h4>
              <ul class="list mt-4">
                <p>
                  Cuando fallece un familiar, la decisión más difícil de tomar en
                  algunas ocasiones es elegir si debe ser cremado o inhumado. La
                  cremación nos ofrece la oportunidad de poder rendir respeto a
                  nuestros seres queridos de una manera sencilla, cálida y sobre todo
                  cómoda, ya que el proceso es muy eficaz.
                </p>
                <br />
                <p>
                  Otra ventaja más, es su precio, ya que los elevados costos del
                  panteón por apertura, cierre y mantenimiento de fosa no son
                  necesarios. Además, no se requiere de autorización para disponer de
                  las cenizas, pudiendo hacer de ellas lo que nuestro ser querido haya
                  decidido en su última voluntad: esparcirlas, depositarlas en su
                  nicho, trasladarlas, conservarlas en casa o en alguna capilla
                  familiar.
                </p>
                <br />
                <li>
                  Servicio de recolección de cuerpo (Hospital, Asilos, Centro
                  Geriátrico, Domicilio Particular, Etc.)
                </li>
                <li>Tramite de permisos y acta de defunción.</li>
                <li>Servicio de Horno Cremación.</li>
                <li>Urna de Madera.</li>
                <li>Certificado de Cremación.</li>
              </ul>
              <div class="mt-4">
                <a href="#contacto">
                  <button type="button" class="btn">Me interesa</button>
                </a>
              </div>
            </div>
            <div class="border-4 border-[#997F53] p-4">
              <img src="servicio2.png" class="w-[600px] h-[500px]" alt="servicio de cremación directa">
            </div>
          </div>
        </div>
      </div>
      
      <div class="mt-32">
        <div class="">
          <div class="grid grid-cols-3 gap-16 px-[10%] py-[5%]">
            <div class="border-4 border-[#997F53] p-4">
              <img src="servicio3.png" class="w-[600px] h-[600px]" alt="Planes a futuro">
            </div>
            <div class="flex flex-col justify-center ml-16 col-span-2 ">
              <h4 class="uppercase">Planes A Futuro</h4>
              <p class="mt-4">
                Previsión es solucionar con anticipación un acontecimiento que tarde o
                temprano tendremos que afrontar. El Plan de Previsión es un plan
                creado para evitar estos problemas ya que cubre todos los gastos
                contratados en el presente y permite pagarlos en plazos.
              </p>
              <b class="mt-2">Prever elimina cualquier adeudo para su familia.</b>
              <ul class="list mt-4">
                <li>
                  Servicio de recolección del cuerpo (Hospital, Asilos, Centro
                  Geriátrico, Domicilio particular, Etc.)
                </li>
      
                <li>
                  Servicio de Embalsamamiento, aseo estético, preparación y
                  conservación de cadáver.
                </li>
      
                <li>Ataúdes metálico y de madera.</li>
      
                <li>Tramites de permisos y acta de defunción.</li>
      
                <li>Confortables capillas con servicios integrados de velación.</li>
      
                <li>Equipo de Velación para servicio en domicilio particular.</li>
      
                <li>Servicio de carroza al panteón.</li>
      
                <li>Servicio de Cremación.</li>
              </ul>
              <div class="mt-4">
                <a href="#contacto">
                  <button type="button" class="btn">Me interesa</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
