---

---

<div
  class="h-[80vh] bg-[url('/slide1.png')] bg-cover bg-no-repeat bg-center flex flex-col justify-center items-center"
>
  <div class="bg-black/50 h-[80vh] w-full absolute"></div>
  <div class="flex flex-col text-center z-10 px-8">
    <h1 class="uppercase text-white text-xl md:text-6xl">Servicios Funerarios Huerta</h1>
    <span class="md:text-[20px] text-white mt-2+ md:mt-6">Te acompañamos en los momentos más dificiles</span
    >
  </div>
  <div class="mt-8 z-10">
    <a href="#servicios">
      <button type="button" class="btn text-white">Ver servicios</button>
    </a>
  </div>
</div>
