<section id="contacto">
  <div class="flex flex-col md:flex-row items-center">
    <div class="md:w-[50%] w-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34209.96023113375!2d-100.31197683732272!3d25.675301656467607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662957a67a0836f%3A0x6a2eb4b1d4af1633!2sFunerales%20Huerta!5e0!3m2!1ses-419!2sve!4v1727456091365!5m2!1ses-419!2sve"
        width="100%"
        height="700px"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="flex flex-col md:p-20 p-10 md:w-[50%]">
      <h4 class="uppercase text-xl md:text-4xl">Como ubicarnos</h4>
      <p class="mt-2">
        ¿Necesitas contactar con nosotros? estamos ubicados en <b
          >Monterrey, N.L., México</b
        > Santiago Tapia Ote. 1234, Centro, 64000. estaremos felices de recibirte
        y darte la atención que mereces.
      </p>
      <ul class="mt-4">
        <li>
          <a href="tel:528110822500">
            <i class="fa-solid fa-phone text-[25px] mr-2"></i>
            +52-811-0822-500
          </a>
        </li>
        <li>
          <a href="wa.me/528110822500" target="_blank">
            <i class="fa-brands fa-whatsapp text-[25px] mr-2"></i>
            +52-811-0822-500
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/SERVHUERTA?mibextid=LQQJ4d"
            target="_blank"
          >
            <i class="fa-brands fa-facebook text-[25px] mr-2"></i>
            Funeraria Huerta
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<style>
  li {
    margin-top: 15px;
    transition: 0.5s all;
  }
  li:hover {
    color: #997f53;
  }
  li i {
    transition: 0.2s all;
  }
  li:hover i {
    color: #997f53;
  }
</style>
